body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
a {
    color: white;

}
.logo {
    margin-bottom: 20px;
}
.logo img {
    max-width: 150px;
}
.time {
    margin-bottom: 40px;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left; /* Left align text in the middle */
}
.menu li {
    margin: 15px 0;
}
.menu li a {
    text-decoration: none;
}
.menu li a:hover, .menu li a:focus {
    background-color: rgb(255, 0, 0);
}
.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.social-media span {
    opacity: 0.6;
    word-wrap: break-word; /* Ensure long text breaks to new lines */
    max-width: 90vw; /* Limit the width to 90% of the viewport width */
    overflow-wrap: break-word; /* Break long words if necessary */
}

@media (max-width: 768px) {
    .social-media span {
        font-size: 3vw;
    }
}
@media (min-width: 769px) {
    .social-media span {
        font-size: 1em; 
    }
}
.social-media img {
    margin: 0 10px;
    max-width: 30px; 
}
